// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-heading {
	font-size: 40px;
	text-align: center;
	font-family: "Alfa Slab One";
	margin-top: 100px;
}


