// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	width: 10%;
	height: 200px;
	margin: 0 auto;
}