
<div class="about-body">
		<div class="frame">
			<h1 class="heading">memoriaへようこそ</h1>
				<div class="container1">
					memoriaはメモの素晴らしさを世の中に広めたいという願いから作りました。<br>
					皆さんご存知のアメリカの発明家　トーマス・エジソン 〖Thomas Alva Edison〗1847～1931 <br>は印字電信機・二重電信機・電話器・蓄音機，映画の撮影機や映写機，白熱電球などを発明したことで知られています。，１３００以上の特許を得て発明王と呼ばれるようになりました。電球の発明で知られていると思いますがそんなエジソンの膨大な発明の根源は大量のメモによって生み出されました。エジソンは生涯で大学ノート約３５００冊分のメモを書いたと言われています。ちなみに僕が学生の頃は高校三年間でノートを１０冊程度しか書いていません。。。３５００冊のすごさがわかっていただけましたか？今ではノートを買わせない学校もあるそうです。
					エジソンは３００万枚ものメモや手紙を書いていたそうで大学ノート３５００冊分。１年で１００冊（３、４日で一冊）書いたとしても３５年かかります。世の中の成功者はうまくいったことや失敗したことをメモに取ります。それ以外にも改善策や失敗した原因をこと細かく書くことによって成長していっています。メモの取り方がわからない、めんどくさいという方用に他のメモを取るのが上手い人を参考に一緒に小さいことから改善していきましょう。このアプリを使ってくださる方の中から発明家が生まれることを心より願っています。
				</div>
		</div>
</div>
